# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE / Editor specific
.vscode/
.idea/

#backlog
backlog/

# Custom cache files
.context_cache

# Output files
results/
.venv/
.env
pytest-output.txt
*.egg-info
.venv-test
.venv
__pycache__
*.csv